body{
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Anton', sans-serif;
}

.carousel-caption{
  background-color: rgba(0,0,0,0.2);
}

.aboutUsSection{
  background-color: #ccc;
}

footer{
  background-color: #111;
  color: #fff;
}

.modal-content{
  background-color: red;
}

.btn-primary{
  background-color: #bada55;
}
